
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><%= title %></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/photos">PHOTOS</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/photos">PHOTOS</a></li>
    <li><a href="/contact">CONTACT</a></li>
  </ul>