@font-face{
    font-family: 'Roboto';
    src: url('../media/fonts/Roboto-Regular.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background-color: slategray;
}

header{
    background-color: coral;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: seagreen;
}