@font-face{
    font-family: 'Roboto';
    src: url('/media/fonts/Roboto-Regular.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #e5dcd2;
}



/* HEADER */
#main-header{
    background: #ffffff00;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1001;
    font-size: 1.5em;
    font-family: 'Roboto';
}
#header-title{
    color: #1a512e;
}
#header-nav{
    display: flex;
}
.main-link{
    margin-right: 25px;
    text-decoration: none;
    color: #1a512e;
}



/* BANNER */
#banner{
    /* background: url('/media/images/background-gaming.jpg'); */
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 70vh;
    border-bottom: 2px solid #38494c;
    position: relative;
}
#banner-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#banner-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-title{
    color: #b0d3bf;
}
.banner-phrase{
    color: #589d62;
}




/* MAIN CONTENT */
#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}



/* ARTICLES */
.card{
    max-width: 450px;
    width: 70vw;
    padding: 10px;
    margin-bottom: 10px;
    background:#c6dc93;
}
.card-heading{
    color: #589d62;
    display: inline;
    font-size: 1.5em;
    text-decoration: none;
}
.stamp{
    color: #38494c;
    margin-left: 10px;
}
